    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <form method="POST">
            <h3> Đăng Kí Đặt Sân </h3> <hr>
            {{detail_stadium.stadium_name}} <hr>
            {{detail_stadium.stadium_address}} <hr>
            <input name="date" type="date"> <hr>
            <label >Chọn Khung Giờ</label>
            <select name="time"> 
            <option value="6:00-7:30">6:00 - 7:30</option>
            <option value="7:30-9:00">7:30 - 9:00</option>
            <option value="9:00-10:30">9:00 - 10:30</option>
            <option value="13:00-14:30">13:00 - 14:30</option>
            <option value="14:30-16:00">14:30 - 16:00</option>
            <option value="16:00-17:30">16:00 - 17:30</option>
            <option value="17:30-19:00">17:30 - 19:00</option>
            <option value="19:00-20:30">19:00 - 20:30</option>
            <option value="20:30-22:00">20:30 - 22:00</option>
            </select> <hr>
            <input name="name" type="text" placeholder="Họ Tên"> <hr>
            <input name="phone" type="text" placeholder="Số Điện Thoại"> <hr>
            <input name="email" type="text" placeholder="Email"> <hr>
            <button>Đăng kí đặt</button> <hr>
        </form>

</body>
</html