<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <b>ten</b> {{ detail_stadium.stadium_name }} <br>
    <b>dia chi</b> {{ detail_stadium.stadium_address }} <br>
    <b>
        06:00 - 16:00     300.000vnđ
        16:00 - 17:30     600.000vnđ
        17:30 - 20:30     800.000vnđ
        20:30 - 22:00     400.000vnđ
        </b> <br>
    <a href="/dang-ky-dat-san/{{detail_stadium._id}}"><button>Đặt Sân Ngay</button></a> <br>
    <b>so dt</b> {{ detail_stadium.stadium_phone }} <br>
    <b>email</b> {{ detail_stadium.stadium_email }} <br>
    <b>mieu ta</b> {{ detail_stadium.stadium_description }} <br>
    <b>anh</b> <img src="{{ detail_stadium.stadium_image }}" > <br>
    
</body>
</html>