<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <h3>Đăng Kí</h3>
        <input name="name" type="text" placeholder="Họ Tên"> <br>
        <input name="phone" type="text" placeholder="Số điện thoại"> <br>
        <input name="email" type="text" placeholder="Email"> <br>
        <input name="password" type="password" placeholder="Password">  <br>
        <input name="repassword" type="password" placeholder="Nhập Lại Password"> <br>
        <button>Đăng Kí</button> <br>
        {{ noti }}
    </form>    
</body>
</html>