<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>Chọn Khu Vực</h3>
    <a href="/san-bong">{{districts[0]}}</a>  <br>
    <a href="/san-bong/san-bong-hai-ba-trung">{{districts[1]}}</a>  <br>
    <a href="/san-bong/san-bong-thanh-xuan">{{districts[2]}}</a>  <br>
    <a href="/san-bong/san-bong-cau-giay">{{districts[3]}}</a>  <br>
    <a href="/san-bong/san-bong-nam-tu-liem">{{districts[4]}}</a>  <br>
    
</body>
</html>