<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <label>Model</label>
        <input name="model" type="text" placeholder="e.g.Honda"">
        <br>
        <label>Daily fee (VND)</label>
        <input name="daily_fee" type="text" placeholder="100000">
        <br>
        <label>Image</label>
        <input name="image" type="text" placeholder="e.g.https://hondaxemay.com.vn">
        <br>
        <label>Year</label>
        <input name="year" type="text" placeholder="e.g.2013">
        <br>
        <button>Submit</button>
    </form>
</body>
</html>