<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% for males in male %}
        <div>
            <img src="../static/image/avatar-male.jpg" > <br>
        <b>Ten:</b> {{males.name }} <br>
        <b>Tuoi:</b> {{males.age }} <br>
        <b>dia chi:</b> {{males.address }} <br>
        <b>Tinh trang:</b> {{males.available }}
        <div>
        <hr>
    {% endfor %}
</body>
</html>