<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <label>Ten</label>
        <input name="full_name" type="text" value=" {{edit_service.name }}">
        <br>
        <label>Tuoi</label>
        <input name="age" type="text" value=" {{edit_service.age }}">
        <br>
        <label>Dia chi</label>
        <input name="address" type="text" value=" {{edit_service.address }}">
        <br>
        <label>Gioi tinh</label>
        <input name="gender" type="text" value=" {{edit_service.gender }}">
        <br>
        <label>Tinh trang</label>
        <input name="available" type="text" value=" {{edit_service.available }}">
        <br>
        <button>Save</button>
    </form>
</body>
</html>